<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()" fill="solid" color="primary" style="margin-right: 12px; font-weight: bold;">
        {{ isDarkMode ? '☀️ Modo Claro' : '🌙 Modo Oscuro' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>DAM2 - API REST</h1>
  <p>
    Aplicación Ionic + Angular Standalone
    para consumir una API REST.
  </p>

  <div style="display: flex; gap: 12px; flex-wrap: wrap; margin-top: 20px;">
    <ion-button routerLink="/productos">
      Ver productos
    </ion-button>
    <ion-button routerLink="/about" fill="outline">
      Sobre la empresa (About)
    </ion-button>
  </div>
</ion-content>
